doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css")
    link(rel="stylesheet", href="./styles/docs.css")

  body
    header.hero
      section.container
        h1 GHAL.GA
        p Navigate to GitHub Asset Location

    main
      section.container
        h2 How does it work?
        p
          | Just put repository path, OS and architecture after our URL and you will navigated to latest release download URL.
          br
          | Like this:
        div.example
          a(href="https://ghal.ga/tcnksm/ghr?os=darwin&arch=amd64") https://ghal.ga/tcnksm/ghr?os=darwin&arch=amd64

        p
          | You can also specify the tag name.
          br
          | Like this:
        div.example
          a(href="https://ghal.ga/tcnksm/ghr@v0.5.0?os=linux&arch=386") https://ghal.ga/tcnksm/ghr@v0.5.0?os=linux&arch=386

        p Have fun!
